/* styles for dummy/application/styles.css */
._results_66xf9t {
  border: 1px solid red;
  padding: 12px;
}

._label_66xf9t {
  font-weight: bold;
}

/* styles for dummy/components/object-editor/styles.css */
._root_wqlt41 {
  border: 1px solid black;
  padding: 16px;
}

._label_wqlt41 {
  font-weight: bold;
}

/* styles for dummy/styles/app.css */
