<span>
  <label local-class="label">
    Draft Value:
  </label>
  {{get (value-of draft) "value"}}
</span>

<br>

<input
  value={{draft.value.state}}
  oninput={{action draft.value.set value="target.value"}}
>